@use "../../styles/variables.scss" as *;

.toc {
  display: flex;
  flex-direction: column;
}

button.toc-header {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: default;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;

  & h3 {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
  }

  & .fold {
    display: none;
  }
}

ul.toc-content {
  font-size: 0.6rem;
  list-style: none;
  position: relative;
  margin: 0.5rem 0;
  padding: 0;
  max-height: 70vh;
  overflow-y: auto;
  overscroll-behavior: contain;

  & > li > a {
    color: var(--dark);
    opacity: 0.35;
    transition:
      0.5s ease opacity,
      0.3s ease color;
    &.in-view {
      opacity: 0.75;
    }
  }

  @for $i from 0 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});
    }
  }
}
